<!DOCTYPE html>
<h1>Welcome to Photoshare</h1>
<h3>{{message}}</h3>

{% if uid is none %}
  <a href='/login'>login!</a><br>
  <a href='/logout'>Create an account></a>
{% else %}
  <p> Go to <a href='/profile'>profile?</a></p>
{% endif %}

<p>View top tags <a href='/toptags'>here</a>.</p>

{% if albums %}
<h2>Browse Albums</h2>
    <ul>
    {% for (aid, aname, _,_) in albums %}

        <li>{{aname}}</li>
        <form method="post" enctype="multipart/form-data" action="/">
          <input type="hidden"  name="aid" value={{aid}}/>
          <input type="submit" value="View"/>
        </form>
    {% endfor %}
    </ul>
{% endif %}

<div>
  <h2>Search for a Friend by Email</h3>
    <form method="post" action="/">
      <input type="search" name="friendsearch"/>
    </form>
</div>

{% if photos %}
<div>
  <h2>Search All Photos by Tag</h2>
  <form method="post" enctype="multipart/form-data" action="/">
    <input type="search" name="tag"/>
  </form>
</div>

{% if uid %}
<div>
  <h2>Search Your Photos by Tag</h3>
  <form method="post" action="/">
    <input type="search" name="mytagsearch"/>
  </form>
</div>

{% endif %}
    <ul>
    {% for (pid, uid, data, caption, loc, aid) in photos %}
        <div style="float:left;">
            <li>{{caption}}<br>
            <img src='data:image/jpg;base64, {{ base64.b64encode(data).decode("ascii") }}'/></li>
        </div>
    {% endfor %}
{% endif %}
